{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Popup Pizza Menu
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">All</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="main">
        <h1>Menu</h1>

        {% if request.user.is_staff %}
            <p>
                <a href="{% url 'shop:product_create' %}" class="button">Add Product</a>
            </p>
        {% endif %}

        <div class="product-list">
            {% for product in products %}
                <div class="item">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                    <a href="{{ product.get_absolute_url }}">{{ product.product_name }}</a><br>
                    <p>{{ product.description|truncatewords:20 }}</p>
                    ${{ product.price }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}